:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --text-color: black;
  --accent-color: #2196f3;
  --active-page-color: #2196f3;
  --tel-mail-color: #757575;
  --description-text-color: #757575;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.active-page {
  color: var(--active-page-color);
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
}

/*section header start*/
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-color-header {
  color: black;
}

.logo-color-footer {
  color: white;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--menu-text-color);
}

.mail-link,
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tel-mail-color);
}

.footer {
  background-color: #2f303a;
}
/*Cекция header end*/

/*INDEX page start*/
.main-section {
  background-color: #2f303a;
}
.main-slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-transform: uppercase;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  /*text-transform: uppercase;*/
  background: #2196f3;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  color: rgb(226, 223, 223);
  background-color: #015fac;
}

.property-header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.property-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
}

.doing-header,
.team-header {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-description {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}
/*INDEX page end*/

/*section FOOTER start*/
.address-google-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adress-mail-link,
.adress-tel-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-google-link:hover,
.address-google-link:focus {
  color: var(--accent-color);
}
.adress-mail-link:hover,
:focus {
  color: var(--accent-color);
}
.adress-tel-link:hover,
.adress-mail-link:focus {
  color: var(--accent-color);
}
/*section FOOTER end*/

/*PORTFOLIO page start*/
.works-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.works-btn:hover,
.works-btn:focus {
  color: white;
  background-color: var(--accent-color);
}

.example-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-description {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}
/*PORTFOLIO page end */
